<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UWTTA - Fight!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-startup-image" href="static/images/launch.png">
  <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
  <link rel="manifest" href="static/images/site.webmanifest">
  <link rel="mask-icon" href="static/images/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="static/images/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Ping">
  <meta name="application-name" content="Ping">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="static/images/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Faster+One|IBM+Plex+Mono|Quantico" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/scoreboard.css" />
</head>

<body>
  <div class="uk-container page" uk-height-viewport id="app">
    <div v-if="isStarted">
      <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="finite: true">
        <ul class="uk-slideshow-items" uk-height-viewport>
          <li v-for="(scores, idx) in scoresList" :key="idx" class="scoreboard">
            <div class="scores">
              <div>
                <span @click="win(idx, 0)">
                  {{scores[0]}}
                </span>
                <span class="decrease-button" @click="decrease(idx, 0)"></span>
              </div>
              <span>:</span>
              <div>
                <span @click="win(idx, 1)">
                  {{scores[1]}}
                </span>
                <span class="decrease-button" @click="decrease(idx, 1)"></span>
              </div>
            </div>
          </li>
        </ul>
        <a class="uk-position-center-left uk-position-small green" href="#" uk-slidenav-previous uk-slideshow-item="previous" @click="swapPlayers"></a>
        <a class="uk-position-center-right uk-position-small green" href="#" uk-slidenav-next uk-slideshow-item="next" @click="swapPlayers"></a>
      </div>
      <div class="players">
        <div class="player">
          <div class="avatar">
            <img class="uk-border-circle" width="40" height="40" :src="player1.avatar">
          </div>
          <div class="info">
            <span>{{player1.name}}</span>
            <span class="uk-text-meta">{{player1.points}}</span>
          </div>
        </div>
        <div class="player p2">
          <div class="info">
            <span>{{player2.name}}</span>
            <span class="uk-text-meta">{{player2.points}}</span>
          </div>
          <div class="avatar">
            <img class="uk-border-circle" width="40" height="40" :src="player2.avatar">
          </div>
        </div>
      </div>
      <div class="points-table">
        <div class="container rounded">
          <div v-for="idx in [0, 1]" :key="idx" class="row" :class="{ ['p'+(idx+1)]: true }">
            <span class="fill name" :class="{ winner: winner === idx }">
              {{winner === idx ? '🏆' : ''}}{{(idx === 0 ? player1 : player2).displayName}}
            </span>
            <div class="score-list" :style="{ width: (scoresList.length * 32) + 'px' }">
              <span v-for="(scores, gameIdx) in scoresList" :key="gameIdx" class="number score" :class="{ even: (gameIdx % 2 == 1)}">
                {{scores[idx]}}
              </span>
            </div>
            <span class="number result" :class="{ winner: winner === idx }">{{result[idx]}}</span>
          </div>
        </div>
      </div>
      <div class="menu-button">
        <a class="uk-icon-button" uk-icon="more" href="#menu-modal" uk-toggle></a>      
      </div>
      <div id="menu-modal" class="uk-flex-top" uk-modal>
        <div class="menu">
          <div class="row">
            <span class="uk-text-muted flex-1 text-align-center">Links:</span>
            <span class="uk-button uk-button-text white flex-2" @click="goTo('index.html')">Recently Played</span>
            <span class="uk-button uk-button-text white flex-2" @click="goTo('ranking.html')">Ranking</span>
          </div>
          <hr class="uk-divider-icon">
          <div class="row">
            <button class="uk-button uk-button-primary" :disabled="isSaved || isSaving" @click="save">Save</button>
            <button class="uk-button uk-button-default bg-white" @click="reset">Reset</button>
          </div>
          <button class="uk-modal-close-default" type="button" uk-close>Close</button>
        </div>
      </div>
    </div>
    <div v-else>
      <header class="rounded uk-card uk-card-default uk-padding-small">
        <span class="title">Scoreboard</span>
      </header>
      <div class="message">
        <small>📜Read
          <a href="#rules">the rules</a> at the bottom first!</small>
      </div>
      <section v-if="!user">
        <form>
          <fieldset class="uk-fieldset">
            <legend class="uk-legend">Judge Login</legend>
            <div class="uk-margin">
              <label class="uk-form-label" for="email">E-mail</label>
              <div class="uk-form-controls">
                <input class="uk-input" id="email" type="text" placeholder="xxx@xxxxx.xxx" v-model="email">
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label" for="password">Password</label>
              <div class="uk-form-controls">
                <input class="uk-input" id="password" type="password" placeholder="Shhh..." v-model="password">
              </div>
            </div>
            <div class="uk-margin center">
              <span class="uk-button uk-button-primary" @click="login">Login!</span>
            </div>
          </fieldset>
        </form>
      </section>
      <section v-else>
        <form>
          <fieldset class="uk-fieldset">
            <legend class="uk-legend">New Match</legend>
            <div class="uk-margin">
              <label class="uk-form-label" for="player1">Player on the left</label>
              <div class="uk-form-controls">
                <select class="uk-select" id="player1" v-model="player1">
                  <option :value="{}"></option>
                  <option v-for="player in player1List" :value="player">{{player.name}}</option>
                </select>
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label" for="player2">Player on the right</label>
              <div class="uk-form-controls">
                <select class="uk-select" id="player2" v-model="player2">
                  <option :value="{}"></option>
                  <option v-for="player in player2List" :value="player">{{player.name}}</option>
                </select>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-form-label">Number of sets</div>
              <div class="uk-form-controls evenly">
                <label>
                  <input class="uk-radio" type="radio" name="numberOfSets" value="1" v-model="numberOfSets"> 1</label>
                <label>
                  <input class="uk-radio" type="radio" name="numberOfSets" value="3" v-model="numberOfSets"> 3</label>
                <label>
                  <input class="uk-radio" type="radio" name="numberOfSets" value="5" v-model="numberOfSets"> 5</label>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-form-label">Points per set</div>
              <div class="uk-form-controls evenly">
                <label>
                  <input class="uk-radio" type="radio" name="pointsPerSet" value="5" v-model="pointsPerSet"> 5</label>
                <label>
                  <input class="uk-radio" type="radio" name="pointsPerSet" value="11" v-model="pointsPerSet"> 11</label>
                <label>
                  <input class="uk-radio" type="radio" name="pointsPerSet" value="21" v-model="pointsPerSet"> 21</label>
              </div>
            </div>
            <div class="uk-margin center">
              <span class="uk-button uk-button-primary" @click="start">🏆Ready?</span>
            </div>
          </fieldset>
        </form>
      </section>
      <h4 id="rules">Rules📜</h4>
      <dl class="uk-description-list">
        <dt>Rule 1👨🏻‍⚖️</dt>
        <dd>The precense of a third-person (the Judge) is required for a match to be valid.</dd>
        <dt>Rule 2👌🏻</dt>
        <dd>Hitting the ceiling counts.</dd>
        <dt>More Rules📑</dt>
        <dd>Please refer to
          <a href="https://d3mjm6zw6cr45s.cloudfront.net/2018/01/2018ITTFHandbook.pdf" target="_blank">The International Table Tennis Federation Handbook</a>
        </dd>
      </dl>
      <div class="message">
        <small>🏓Ping Pong time!</small>
      </div>
      <button class="first-link uk-icon-button uk-box-shadow-large" uk-icon="calendar" uk-tooltip="How was the game?" @click="goTo('index.html')"></button>
      <button class="second-link uk-icon-button uk-box-shadow-large" uk-icon="hashtag" uk-tooltip="Ranking!" @click="goTo('ranking.html')"></button>
    </div>
  </div>
  <script>
    // const isTesting = true
    const isTesting = false
    const testConfig = {
      apiKey: "AIzaSyDdrDuBo3KamnrONVpy5osMg4266QggNMw",
      authDomain: "uwtta-test.firebaseapp.com",
      databaseURL: "https://uwtta-test.firebaseio.com",
      projectId: "uwtta-test",
      storageBucket: "",
      messagingSenderId: "657357613283"
    }
    const config = {
      apiKey: "AIzaSyDdpakqknv9rX6kfPE9nWx92UmHrqOEQBw",
      authDomain: "uwtta-13132.firebaseapp.com",
      databaseURL: "https://uwtta-13132.firebaseio.com",
      projectId: "uwtta-13132",
      storageBucket: "uwtta-13132.appspot.com",
      messagingSenderId: "447003587436"
    }
    firebase.initializeApp(isTesting ? testConfig : config)
    const app = new Vue({
      el: '#app',
      data: {
        user: undefined,
        email: '',
        password: '',
        isStarted: false,
        isSaving: false,
        isSaved: false,
        players: [],
        player1: {},
        player2: {},
        numberOfSets: 3,
        pointsPerSet: 11,
        scoresList: [],
      },
      computed: {
        player1List() {
          return this.players.filter(player => player.name !== this.player2.name)
        },
        player2List() {
          return this.players.filter(player => player.name !== this.player1.name)
        },
        result() {
          return this.scoresList.reduce((acc, cur) => {
            if ((cur[0] - cur[1] >= 2) && (cur[0] >= this.pointsPerSet)) {
              acc[0] += 1
            }
            if ((cur[1] - cur[0] >= 2) && (cur[1] >= this.pointsPerSet)) {
              acc[1] += 1
            }
            return acc
          }, [0, 0])
        },
        isMatchFinished() {
          const winPoint = Math.ceil(this.numberOfSets / 2)
          return (this.result[0] === winPoint) || (this.result[1] === winPoint)
        },
        winner() {
          return this.isMatchFinished ? (this.result[0] > this.result[1] ? 0 : 1) : -1
        },
      },
      created() {
        firebase.database().ref('players').on('child_added', (snapshot) => {
          this.players.push(Object.assign({}, snapshot.val(), {
            _ref: `players/${snapshot.key}`,
          }))
        })
        firebase.auth().onAuthStateChanged((user) => {
          if (user) {
            UIkit.notification({
              message: 'Welcome, the Judge!',
              status: 'success',
            })
          }
          this.user = user
        })
      },
      methods: {
        isGameFinished(game) {
          const p1Wins = (game[0] - game[1] >= 2) && (game[0] >= this.pointsPerSet)
          const p2Wins = (game[1] - game[0] >= 2) && (game[1] >= this.pointsPerSet)
          return p1Wins || p2Wins
        },
        login() {
          if (!this.email || !this.password) {
            UIkit.notification({
              message: 'Something\'s missing...',
              status: 'danger',
            })
            return
          }
          firebase.auth().signInWithEmailAndPassword(this.email, this.password).catch((error) => {
            const errorCode = error.code
            const errorMessage = error.message
            if (errorCode === 'auth/wrong-password') {
              UIkit.notification({
                message: 'Wrong password.',
                status: 'danger',
              })
            } else {
              UIkit.notification({
                message: errorMessage,
                status: 'danger',
              })
            }
          })
        },
        swapPlayers() {
          [this.player1, this.player2] = [this.player2, this.player1]
          let newScoreList = [];
          this.scoresList.forEach(function(score) {
            newScoreList.push([score[1], score[0]])
          })
          this.scoresList = newScoreList
        },
        start() {
          if (!this.player1 || !this.player2 || !this.numberOfSets || !this.pointsPerSet) {
            UIkit.notification({
              message: 'You shall not pass!',
              status: 'danger',
            })
            return
          }
          for (let i = 0; i < this.numberOfSets; i++) {
            this.scoresList.push([0, 0])
          }
          this.isStarted = true
        },
        win(gameIdx, playerIdx) {
          const game = this.scoresList[gameIdx]
          const gamePoint = this.pointsPerSet - 1
          // is match finished?
          if (this.isMatchFinished) {
            UIkit.notification({
              message: 'Match is finished.',
              status: 'danger',
            })
            return
          }
          // is previous game finished?
          if (gameIdx > 0 && !this.isGameFinished(this.scoresList[gameIdx - 1])) {
            UIkit.notification({
              message: 'Please finish the previous game.',
              status: 'danger',
            })
            return
          }
          // is game finished?
          if (this.isGameFinished(game)) {
            UIkit.notification({
              message: 'Game is finished.',
              status: 'danger',
            })
            return
          }
          this.scoresList[gameIdx].splice(playerIdx, 1, this.scoresList[gameIdx][playerIdx] + 1)
        },
        decrease(gameIdx, playerIdx) {
          const game = this.scoresList[gameIdx]
          if (game[playerIdx] === 0) return
          const otherPlayerIdx = playerIdx === 0 ? 1 : 0
          const isOtherPlayerWinning = (game[otherPlayerIdx] > game[playerIdx]) && this.isGameFinished(game)
          if (isOtherPlayerWinning) return
          this.scoresList[gameIdx].splice(playerIdx, 1, parseInt(game[playerIdx] - 1))
        },
        getPointsAssigned() {
          const between = (n, l, h) => (n >= l && n <= h)
          const _pointsDiff = this.player1.points - this.player2.points
          const pointsDiff = Math.abs(_pointsDiff)
          const isExpected = (this.winner === 0 && _pointsDiff >= 1) || (this.winner === 1 && pointsDiff >= 1)
          let points = 0
          if (isExpected) {
            if (between(pointsDiff, 1, 25)) {
              points = 9
            }
            if (between(pointsDiff, 26, 50)) {
              points = 8
            }
            if (between(pointsDiff, 51, 100)) {
              points = 7
            }
            if (between(pointsDiff, 101, 150)) {
              points = 6
            }
            if (between(pointsDiff, 151, 200)) {
              points = 5
            }
            if (between(pointsDiff, 201, 300)) {
              points = 4
            }
            if (between(pointsDiff, 301, 400)) {
              points = 3
            }
            if (between(pointsDiff, 401, 500)) {
              points = 2
            }
            if (between(pointsDiff, 501, 750)) {
              points = 1
            }
            if (pointsDiff > 750) {
              points = 0
            }
          } else {
            if (between(pointsDiff, 0, 24)) {
              points = 10
            }
            if (between(pointsDiff, 24, 49)) {
              points = 12
            }
            if (between(pointsDiff, 49, 99)) {
              points = 14
            }
            if (between(pointsDiff, 100, 149)) {
              points = 16
            }
            if (between(pointsDiff, 150, 199)) {
              points = 20
            }
            if (between(pointsDiff, 200, 299)) {
              points = 24
            }
            if (between(pointsDiff, 300, 399)) {
              points = 28
            }
            if (between(pointsDiff, 400, 499)) {
              points = 32
            }
            if (between(pointsDiff, 500, 749)) {
              points = 36
            }
            if (pointsDiff > 749) {
              points = 40
            }
          }
          return this.winner === 0 ? [points, -Math.ceil(points / 2)] : [-Math.ceil(points / 2), points]
        },
        save() {
          if (!this.isMatchFinished) {
            UIkit.notification({
              message: 'Unfinished game!',
              status: 'danger',
            })
            return
          }
          if (this.isSaved || this.isSaving) return

          this.isSaving = true

          const pointsAssigned = this.getPointsAssigned()
          const player1PointsNew = this.player1.points + pointsAssigned[0]
          const player2PointsNew = this.player2.points + pointsAssigned[1]
          Promise.all([
            firebase.database().ref('matches').push({
              date: (new Date).getTime(),
              numberOfSets: this.numberOfSets,
              pointsPerSet: this.pointsPerSet,
              player1: {
                _type: 'ref',
                _ref: this.player1._ref,
              },
              player2: {
                _type: 'ref',
                _ref: this.player2._ref,
              },
              pointsAssigned,
              pointsBeforeMatch: [
                this.player1.points,
                this.player2.points,
              ],
              scoresList: this.scoresList,
            }),
            firebase.database().ref(this.player1._ref).update({
              points: player1PointsNew,
            }),
            firebase.database().ref(this.player2._ref).update({
              points: player2PointsNew,
            }),
          ]).then(() => {
            this.$set(this.players[this.players.findIndex(player => player._ref === this.player1._ref)],
              'points', player1PointsNew)
            this.$set(this.players[this.players.findIndex(player => player._ref === this.player2._ref)],
              'points', player2PointsNew)
            UIkit.notification({
              message: 'Match Saved!',
              status: 'success',
            })
            this.isSaving = false
            this.isSaved = true
          }).catch((error) => {
            UIkit.notification({
              message: 'Failed to save match...',
              status: 'danger',
            })
            this.isSaving = false
          })
        },
        reset() {
          UIkit.modal(document.getElementById('menu-modal')).hide()
          this.isStarted = false
          this.isSaved = false
          this.player1 = {}
          this.player2 = {}
          this.numberOfSets = 3
          this.pointsPerSet = 11
          this.scoresList = []
        },
        goTo(page) {
          window.location = page
        },
      }
    })
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
</body>

</html>