* {
  box-sizing: border-box;
}
body {
  font-family: 'IBM Plex Mono', monospace;
}

/*  */
.page {
  background-color: #f7f2ef;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.unordered-list {
  font-size: 14px;
  margin: 24px 0 0 0;
  padding: 0;
}
.matches {
  height: calc(100vh - 123px);
  overflow-x: scroll;
}
.list-item {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.fill {
  flex: 1;
}
.rounded {
  border-radius: 3px;
}
.match {
  border-radius: 3px;
  background-color: #18b493;
  color: white;
}
.date {
  padding: 12px 16px 12px 0;
}
.name {
  padding: 16px 0 16px 0;
  margin-left: 32px;
  height: 54px;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  height: 54px;
}
.score {
  width: 32px;
  background-color: white;
  color: #5a5a5a;
}
.score-list {
  display: flex;
  height: 54px;
}
.score-list > .even {
  background-color: #f5f5f5;
}
.result {
  width: 32px;
  background-color: #18b493;
  color: white;
}
.winner {
  font-weight: bold;
  color: #ffec3d;
}
.p1 > .name {
  border-bottom: 1px rgba(255, 255, 255, 0.8) solid;
}
.p1 > .score-list {
  border-bottom: 1px #18b493 solid;
}
.p1 > .result {
  border-top-right-radius: 3px;
  border-bottom: 1px rgba(255, 255, 255, 0.8) solid;
}
.p2 > .name {
  border-bottom-left-radius: 3px;
}
.p2 > .result {
  border-bottom-right-radius: 3px;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}
.home-link, .ranking-link {
  position: fixed;
  bottom: 80px;
  right: 16px;
}
.scoreboard-link {
  position: fixed;
  bottom: 32px;
  right: 16px;
}
.title {
  font-family: 'Faster One', cursive;
  font-size: 24px;
}
.ranking {
  margin-top: 24px;
}
.medal {
  position: absolute;
  left: 0;
  top: 0;

  font-size: 1.5em;
}
.uk-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uk-card-title:hover {
  overflow: visible;
  text-overflow: unset;
}
