* {
  box-sizing: border-box;
}
body {
  font-family: 'IBM Plex Mono', monospace;
}
.page {
  max-width: 100vw;
  height: 100%;
  background-color: #f7f2ef;
}

.score {
  font-family: 'Quantico', sans-serif;
  font-size: 20vw;
}