.scores {
  font-family: 'Quantico', sans-serif;
  font-size: 24vw;
}
.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #5a5a5a;
}
.evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.uk-slidenav.green {
  color: #18b493;
}
.players {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.player {
  display: flex;
  flex-direction: row;
}
.player.p2 {
  justify-content: flex-end;
}
.info {
  display: flex;
  flex-direction: column;
}
.p2 .info {
  align-items: flex-end;
}
.avatar {
  margin-right: 8px;
}
.p2 .avatar {
  margin-left: 8px;
  margin-right: 0;
}
.points-table {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding: 10px;
}
.points-table .container {
  background: #18b493;
}
.points-table .name {
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  color: white;
}
.points-table .number {
  height: 32px;
}
.points-table .score-list {
  height: 32px;
  box-sizing: content-box;
}
.menu-button {
  position: absolute;
  top: 0;
  margin-top: 16px;
  margin-left: -15px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-button > .uk-icon-button {
  margin: 10px;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.menu .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.menu .row:not(:first-child) {
  margin-top: 24px;
}
.bg-white {
  background-color: white;
}
.white {
  color: white;
}
.uk-button-default:focus, .uk-button-default:hover {
  color: #999;
}
.uk-close {
  display: flex;
  align-items: center;
  padding: 10px;
}
.uk-close:focus, .uk-close:hover {
  color: white;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.uk-modal {
  width: 100vw;
}
.text-align-center {
  display: flex;
  justify-content: center;
  line-height: 1;
  align-items: center;
}
.decrease-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 104px;
}
.scores {
  display: flex;
  flex-direction: row;
}
.scores > div {
  position: relative;
  cursor: pointer;
}
.scores > div > span:first-child {
  display: block;
  text-align: center;
  width: 32vw;
}
.uk-light .uk-slidenav:hover {
  color: rgba(24, 180, 147, 0.8);
}
.uk-light .uk-slidenav:active {
  color: rgba(24, 180, 147, 0.4);
}